.Card {
display: grid;
grid-template-columns:1fr auto 2fr; 
background-color: white; 
border-radius: 10px; 
padding: 50px;
width: 65ch; 
height: auto;
margin: auto; 
align-items: center; 
place-items: center;
column-gap: 20px;
}


.divisoria {
width: 2px; 
background-color: #333; 
height: 80%; 
justify-self: center;
}


.foto {
display: flex;
justify-content: center;
align-items: flex-start;
padding-right: 16px; 
}

.foto img {
width: 25ch; 
height: 25ch;
border-radius: 10%; 
object-fit: cover; 
}


.dados {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

.dados p {
margin: 6px 0; 
font-size: 1.4em; 
color: #333; 
}

@media screen and (max-width: 500px) {
    .Card{
        padding: 10px; /*bordas*/
        width: 35ch; /*largura*/
        column-gap: 1px; /*distancia entre os elementos*/
        height: auto;
        margin: auto;
    }
    .divisoria{
        height: 70%; /*tamanho da linha*/
    }
    .foto img{
        /*altura e largura da imagem*/
        width: 10ch;
        height: 10ch;
    }
    .dados p {
        margin: 6px 0; /*distancia entre as linhas*/
        font-size: 0.8em; /*tamanho dos caracteres*/
    }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
    .Card {
        padding: 30px;
        width: 50ch;
        column-gap: 1px;
        height: auto;
        margin: auto;
    }

    .divisoria {
        height: 80%;
        /* tamanho da linha */
    }

    .foto img {
        width: 20ch;
        height: 20ch;
    }

    .dados p {
        margin: 6px 0;
        font-size: 1em;
    }
}