<app-header [title]="'Política de Privacidade'"></app-header>

<section class="politica-de-privacidade">
    <div class="topico-PP">
        <p>
        A WEB Dengue valoriza a privacidade de seus usuários e se compromete a proteger quaisquer informações pessoais coletadas
        em nosso site. Esta Política de Privacidade descreve como lidamos com os dados fornecidos e as medidas que tomamos para
        garantir a segurança e confidencialidade dessas informações.    
        </p>
    </div>
    
    <div class="topico-PP">
        <h2>1. Coleta de Informações</h2>
        <p>
            Durante o uso do site, podemos coletar informações pessoais como nome, e-mail e dados de localização, especialmente
            quando você interage com nossos formulários de contato ou participa de joguinhos e atividades informativas. Utilizamos
            esses dados exclusivamente para melhorar sua experiência e fornecer o conteúdo mais relevante possível.       
        </p>
    </div>
    
    <div class="topico-PP2">
        <h2>
            2. Uso das Informações
        </h2>
        <p>As informações coletadas têm como objetivo:</p>
            <ul>
                <li>Personalizar a sua experiência no site;</li>
                <li>Fornecer respostas às suas consultas e formulários de contato;</li>
                <li>Compartilhar atualizações sobre a prevenção da dengue;</li>
                <li>Melhorar o conteúdo e os serviços oferecidos no WEB Dengue.</li>
                <li>Não compartilhamos suas informações pessoais com terceiros, exceto quando exigido por lei.</li>
            </ul> 
    </div>
    
    <div class="topico-PP">
        <h2>3. Segurança dos Dados</h2>
        <p>
            A WEB Dengue implementa medidas de segurança para proteger as informações pessoais de acessos não autorizados.
            Utilizamos tecnologia de criptografia para garantir a integridade dos dados trocados no site.
        </p>
    </div>

    <div class="topico-PP">
        <h2>4. Cookies</h2>
        <p>
            Nosso site pode utilizar cookies para melhorar sua navegação e fornecer uma experiência mais personalizada. Os cookies
            não armazenam informações pessoais e podem ser desativados pelo usuário nas configurações do navegador.
        </p>
    </div>
    
    <div class="topico-PP">
    <h2>5. Links Externos</h2>
    <p>
        Nosso site pode conter links para outros sites de interesse, como vídeos educativos e informações oficiais sobre a
        dengue. No entanto, não nos responsabilizamos pelas práticas de privacidade desses sites externos.
    </p>
    </div>
    
    <div class="topico-PP">
    <h2>6. Alterações na Política</h2>
    <p>
        Reservamo-nos o direito de alterar esta Política de Privacidade a qualquer momento. Recomendamos que você consulte esta
        página regularmente para manter-se informado sobre eventuais mudanças.
    </p>
    </div>
    
    
    <div class="data-PP">
        <p>
            Política de Privacidade - WEB Dengue
            Última atualização: 23 de setembro de 2024
        </p>
    </div>
    

</section>