<app-header [title]="'Termos de Uso'"></app-header>

<section id="termos-de-uso-01">
    <div class="section-TDU">
        <div class="text-inicial-TDU">
            <p>
                Bem-vindo ao WEB Dengue! Ao acessar e utilizar nosso site, você 
                concorda com os seguintes Termos de Uso, que regem a sua navegação 
                e a interação com os conteúdos oferecidos.
            </p>
        </div>
        <div class="topicos-TDU">
            <h2>1. Objetivo do Site</h2>
            <p>O WEB Dengue foi criado como um projeto acadêmico para a disciplina de Desenvolvimento Web e
                tem como finalidade fornecer informações educativas sobre a dengue, formas de prevenção, e 
                conscientização da população. Também oferecemos recursos como vídeos, joguinhos, mapas com a 
                localização de agências de saúde, e diversos tópicos informativos.
            </p>
        </div>
        <div class="topicos-TDU">
            <h2>2. Uso Permitido</h2>
            <p>Você pode acessar e utilizar o site para fins pessoais e educativos. É estritamente proibido 
                utilizar o conteúdo do WEB Dengue para atividades ilegais ou comerciais, sem a devida autorização.
            </p>
        </div>
        <div class="topicos-TDU">
            <h2>3. Propriedade Intelectual</h2>
            <p>Todo o conteúdo disponibilizado no WEB Dengue, incluindo textos, vídeos, gráficos, e joguinhos, 
                é protegido por direitos autorais. O uso indevido de qualquer parte do conteúdo é proibido 
                sem a nossa permissão prévia.
            </p>
        </div>
        <div class="topicos-TDU">
            <h2>4. Responsabilidade do Usuário</h2>
            <p>O usuário é responsável por qualquer informação fornecida por meio dos formulários do site. 
                Ao submeter informações, o usuário deve garantir que estas são verdadeiras, precisas e que não 
                violem os direitos de terceiros.
            </p>
        </div>
        <div class="topicos-TDU">
            <h2>5. Isenção de Responsabilidade</h2>
            <p>O WEB Dengue se esforça para fornecer informações atualizadas e precisas sobre a dengue e suas formas 
                de prevenção. No entanto, não garantimos que todas as informações estejam sempre completas ou livres 
                de erros. O uso das informações contidas no site é de responsabilidade exclusiva do usuário.
            </p>
        </div>
        <div class="topicos-TDU">
            <h2>6. Alterações nos Termos de Uso</h2>
            <p>Reservamo-nos o direito de modificar estes Termos de Uso a qualquer momento. Qualquer alteração será 
                publicada nesta página e o uso contínuo do site após essas mudanças constituirá aceitação dos novos termos.
            </p>
        </div>
        <div class="topicos-TDU">
            <h2>7. Contato</h2>
            <p>Em caso de dúvidas ou sugestões sobre os Termos de Uso ou sobre o conteúdo do site, entre em contato 
                conosco por meio do formulário disponível na página de contato.
            </p>
        </div>
        <div class="data-TDU">
            <p>Última atualização: 23 de setembro de 2024</p>
        </div>
    </div>
</section>