<app-header [title]="'Contato'"></app-header>

<!-- Solicitação  -->
<section class="solicitacao-container">
    <div class="formulario-container">
        <div class="formulario-header">
            <h1>Solicitação de visita</h1>
            <p>
                Solicite aqui a visita de um agente de endemias ao seu
                domicílio.
            </p>
        </div>
        <label for="formulario" class="formulario-label">
            <div class="formulario-top">
                <div>
                    Nome<br />
                    <input
                        type="text"
                        placeholder="Digite seu nome"
                        id="formulario-nome"
                    />
                </div>
                <div>
                    Email<br />
                    <input
                        type="text"
                        placeholder="Digite seu e-mail"
                        id="formulario-email"
                    />
                </div>
                <div>
                    Endereço<br />
                    <input
                        type="text"
                        placeholder="Digite seu endereço"
                        id="formulario-endereco"
                    />
                </div>
                <div>
                    CEP<br />
                    <input
                        type="text"
                        placeholder="Digite seu CEP"
                        id="formulario-cep"
                    />
                </div>
            </div>
            <div class="formulario-bottom">
                <div>
                    Assunto<br />
                    <textarea
                        placeholder="Digite o motivo da solicitação"
                        id="formulario-assunto"
                    ></textarea>
                </div>
                <input
                    type="button"
                    value="Solicitar Visita"
                    id="formulario-button"
                />
            </div>
        </label>
    </div>
    <div class="solicitacao-image">
        <img src="assets/images/cards_Agentes/solicitacao.png" />
    </div>
</section>

<!-- Profissionais e Agentes-->
<section class="carrosel-container">
    <button class="carrosel-control prev" (click)="prevSlide()">
        &#10094;
    </button>

    <app-cards
        [nome]="slides[currentSlide].nome"
        [funcao]="slides[currentSlide].funcao"
        [telefone]="slides[currentSlide].telefone"
        [email]="slides[currentSlide].email"
        [link_png]="slides[currentSlide].link_png"
    >
    </app-cards>

    <button class="carrosel-control next" (click)="nextSlide()">
        &#10095;
    </button>
</section>

<section class="localizacao" id="maps">
    <h1>Agências Próximas de Você</h1>
    <app-maps></app-maps>
</section>
