/*----------------------------------------- Localização Mapa ------------------------------*/

.localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a2c38;
    padding: 50px;
    gap: 50px;
    height: 60vh;
}

.localizacao h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 0;
}

app-maps {
    width: 90%;
    height: 600px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
}

/*----------------------------------------- Carrosel Agentes ------------------------------*/
.carrosel-container {
    height: 65vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #3a778a;
}

.solicitacao-image {
    display: grid;
    justify-content: center;
    align-items: center;
}

.solicitacao-image img {
    width: 67%;
}

/*------------------------------------ formulario de solicitação -------------------------------------------*/

.solicitacao-container {
    height: 720px;
    overflow: hidden;
    background-color: #e8e8e8;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}

.solicitacao-image img {
    height: 80%;
}

.formulario-container,
.solicitacao-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.formulario-header,
.formulario-label {
    width: 50%;
}

.formulario-header {
    margin-bottom: 24px;
}

.formulario-top {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.formulario-bottom {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto;
}

.formulario-label input[type="text"],
.formulario-label textarea {
    padding: 8px;
    margin-bottom: 0.25em;
    border: 1px solid black;
    border-radius: 4px;
}

.formulario-label textarea {
    height: 4em;
    font-family: inherit;
}

.formulario-top input[type="text"] {
    width: calc(100% - 2 * 8px - 2px - 0.5em);
    margin-top: 0.25em;
}

.formulario-bottom textarea {
    /* A largura do div menos o padding menos a largura da borda de ambos os lados */
    width: calc(100% - 2 * 8px - 0.5em);
    margin-bottom: 24px;
}

.formulario-button {
    width: calc(100% - 2 * 8px + 0.5em + 4px);
    background-color: #ff7b00;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .solicitacao-container {
        height: auto;

        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: auto;
    }

    .formulario-container {
        height: auto;
        margin: 16px 0;
    }

    .formulario-header,
    .formulario-label {
        width: 80%;
    }

    .solicitacao-image {
        height: 384px;
    }

    .solicitacao-image img {
        height: 80%;
    }

    .formulario-top {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: auto;
    }
}
