<footer class="footer">
    <div class="footer_container">
            <div class="footer_menu">
                <div class="footer_logo">
                    <img src="./assets/icons/web-logo-footer.svg" alt="logo do WEBdengue">
                </div>
                <div class="contato">
                    <div class="title">
                        <h2>Redes Sociais</h2>
                    </div>
                    <a href="https://github.com/vctrwesley/web-dengue" target="_blank">
                        <img src="./assets/icons/github.svg" alt="Icone do github">
                    </a>
                    <a href="" target="_blank">
                        <img src="./assets/icons/figma.svg" alt="Icone do figma">
                    </a>
                </div>
            </div>
        <div class="footer-copyright">
            <span>&copy; 2024 WEB Dengue - Todos os Direitos Reservados</span>
        </div>
    </div>
</footer>