<footer class="footer">
    <div class="footer-container">
        <div class="footer-menu">
            <div class="footer-logo">
                <a href="usuario/page-home">
                    <img src="./assets/icons/web-logo-footer.svg" alt="logo do WEBdengue">
                </a> 
            </div>
            <div class="links-container">
                <div class="footer-links">
                    <div class="title">
                        <h2>Explore</h2>
                    </div>
                    <ul>
                        <li><a href="usuario/page-home">Home</a></li>
                        <li><a href="usuario/page-sobre">Sobre</a></li>
                        <li><a href="usuario/page-prevencao">Prevenção</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <div class="title">
                        <h2>Links Úteis</h2>
                    </div>
                    <ul>
                        <li><a href="/usuario/page-contato">Fale Conosco</a></li>
                        <li><a href="/usuario/page-termos-de-uso">Termos e Uso</a></li>
                        <li><a href="/usuario/page-politica-de-privacidade">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="footer-links" id="social">
                    <div class="title">
                        <h2>Redes Sociais</h2>
                    </div>
                    <div class="footer-icons">
                        <a href="https://github.com/vctrwesley/web-dengue" target="-blank">
                            <img src="./assets/icons/github.svg" alt="Icone do github">
                        </a>
                        <a href="https://www.figma.com/design/eMiZLDYjf91u8ZbcjeCmez/WEB---Dengue?node-id=0-1&t=qplAk6hF1iLwGQOm-1" target="-blank">
                            <img src="./assets/icons/figma.svg" alt="Icone do figma">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <span>&copy; 2024 WEB Dengue - Todos os Direitos Reservados</span>
        </div>
    </div>
</footer>