<app-header [title]="'Dicas de prevenção'"></app-header>
<main>
    <section class="init-page">
         
        <div class="education-content">
               
            <div class="hero">
                     
                <h3>
                    A dengue é uma infecção viral transmitida pela picada do
                    mosquito Aedes aegypti. Com quatro tipos de vírus, uma
                    pessoa pode contrair a doença mais de uma vez. Os sintomas
                    incluem febre alta e dores intensas, podendo ser grave. A
                    prevenção envolve eliminar criadouros de mosquitos que
                    acumulam água.      
                </h3>
                   
            </div>
            <br />
            <br />
            <div class="iframe-video">
                     
                <iframe
                    src="https://www.youtube.com/embed/sh6RXRbW2W0?si=tPcOQ__KS5mh_7Oq"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                ></iframe>
                   
            </div>
             
        </div>
    </section>

    <section class="prevention-tips">
        <h2>Como se prevenir de forma rápida e eficaz</h2>
        <div class="tips-container">
            <div class="tip-esq">
                <img
                    class="icon-esq"
                    src="assets/images/page-prevencao/lixo.png"
                    alt="Lixo Icon"
                />
                <p>
                    Feche bem os sacos de lixos e mantenha as lixeiras tampadas
                </p>
            </div>
            <div class="tip-dir">
                <p>Retire os pratos dos vasos de plantas</p>
                <img
                    class="icon-dir"
                    src="assets/images/page-prevencao/vaso.png"
                    alt="Vaso Icon"
                />
            </div>
            <div class="tip-esq">
                <img
                    class="icon-esq"
                    src="assets/images/page-prevencao/repelente.png"
                    alt="Repelente Icon"
                />
                <p>Use repelente</p>
            </div>
            <div class="tip-dir">
                <p>Guarde pneus e garrafas em locais cobertos</p>
                <img
                    class="icon-dir"
                    src="assets/images/page-prevencao/pneus.png"
                    alt="Pneu Icon"
                />
            </div>
            <div class="tip-esq">
                <img
                    class="icon-esq"
                    src="assets/images/page-prevencao/medico.png"
                    alt="Medico Icon"
                />
                <p>
                    Em caso de sintomas, procure um médico e jamais se
                    automedique
                </p>
            </div>
            <div class="tip-dir">
                <p>Verifique se a caixa d’água está bem fechada</p>
                <img
                    class="icon-dir"
                    src="assets/images/page-prevencao/caixa.png"
                    alt="Caixa Icon"
                />
            </div>
            <div class="tip-esq">
                <img
                    class="icon-esq"
                    src="assets/images/page-prevencao/folhas.png"
                    alt="Folha Icon"
                />
                <p>Recolha folhas e objetos do quintal</p>
            </div>
            <div class="tip-dir">
                <p>Mantenha sempre calhas e ralos externos da casa limpos</p>
                <img
                    class="icon-dir"
                    src="assets/images/page-prevencao/calha.png"
                    alt="Calha Icon"
                />
            </div>
        </div>
    </section>

    <section id="banner">
        <div class="banner-content-slogan">
            <div class="slogan">
                <h2>
                    Sua casa livre da dengue <br />
                    começa por você!
                </h2>
            </div>
        </div>
    </section>

    <section class="educational-section">
         
        <div class="education-content">
            <a href="https://www.ludoeducativo.com.br/pt/play/contra-dengue-3">
                <img
                    style="width: 100%"
                    class="img-responsive"
                    src="../../assets/images/page-prevencao/64356d03950bd.gif"
                />
            </a>
               
            <div class="text-content">
                     
                <h2>
                    A Importância de Ensinar as Crianças sobre a Prevenção da
                    Dengue
                </h2>
                     
                <p>
                    Ensinar as crianças sobre a dengue é crucial para promover a
                    conscientização desde cedo e ajudar a prevenir a
                    disseminação da doença. Ao aprenderem sobre como o mosquito
                    Aedes aegypti transmite o vírus, os sintomas da doença, e as
                    maneiras de eliminar os criadouros, as crianças podem se
                    tornar agentes de mudança em suas famílias e comunidades.
                    Esse conhecimento as capacita a adotar práticas de
                    prevenção, como evitar água parada e manter o ambiente
                    limpo, além de incentivar outras pessoas a fazer o mesmo.  
                       
                </p>
                   
            </div>
             
        </div>
    </section>

    <section id="home-03">
        <div class="section-03">
            <div class="title-section">
                <h2>Tutoriais de como se proteger</h2>
            </div>
            <div class="carousel-container">
                <div class="carousel" #carousel>
                    <div
                        class="carousel-item"
                        *ngFor="let video of videos"
                        [class.active]="video === videos[currentIndex]"
                    >
                        <iframe
                            width="560"
                            height="315"
                            [src]="video.url"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        >
                        </iframe>
                    </div>
                </div>
            </div>

            <div class="controls">
                <button class="prev" (click)="scrollLeft()">‹</button>
                <div class="indicators">
                    <span
                        *ngFor="let video of videos; let i = index"
                        [class.active]="i === currentIndex"
                        (click)="goToSlide(i)"
                    ></span>
                </div>
                <button class="next" (click)="scrollRight()">›</button>
            </div>
        </div>
    </section>
</main>
