/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding: 50px;
  color: #3f4141;
}

.video-section {
  width: 100%;
  max-width: 560px; /* Define a largura máxima para ambos */
  margin: 0 auto; /* Centraliza os elementos */
  padding: 20px;
}
.hero p {
  text-align: justify;
}

.video-section iframe {
  width: 100%;
  border-radius: 15px;
}

.prevention-tips {
  background-color: rgba(255, 118, 30, 15%);
  color: white;
  padding: 50px 0px;
  text-align: center;
}

.prevention-tips h2{
  background: linear-gradient(to bottom, #B55417, #FF761E);
  padding: 40px 40px;
  font-size: 32px;
  color: #e8e8e8;
}

.tips-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 20px; /* Espaçamento entre os itens */
  margin-top: 20px;
  justify-content: center; /* Centralizar o conteúdo */
  padding: 0 20px;
}

.tip {
  display: flex;
  flex-direction: row; /* Organiza o texto e o ícone horizontalmente */
  align-items: center;
  background-color: #1A2C38;
  padding: 15px;
  border-radius: 10px;
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 400px; /* Limita o tamanho máximo da dica */
  justify-content: flex-start;
}

.tip img {
  width: 50px;
  height: 50px;
  margin-right: 15px; /* Espaçamento entre o ícone e o texto */
}

.tip p {
  font-size: 14px;
  color: white;
  margin: 0;
}

.divider{
  width: 100%;
  margin: 0;
  padding: 0;
}

.divider img{
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.educational-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #3a778a;
}

.education-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.iframe-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  margin-top: 20px;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.text-content {
  width: 100%;
  text-align: center;
  color: #e8e8e8;
}

.text-content h2 {
  margin-top: 0;
}

.text-content p {
  margin-top: 10px;
}

.tutorials {
  padding: 50px 20px;
  background-color: #fff;
}

.tutorials h2 {
  text-align: center;
}

.tutorials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

footer {
  background-color: #ededed;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: #0077a3;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide iframe {
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 315px;
}
