<app-header [title]="'Sobre'"></app-header>
<section id="sobre-01">
    <div class="content">
        <div class="text">
            <h3>A dengue é uma doença viral transmitida pelo mosquito Aedes aegypti. Essa doença é endêmica em muitas regiões tropicais e subtropicais do mundo, afetando milhões de pessoas todos os anos. A dengue tem sido uma preocupação crescente, especialmente em áreas urbanas, onde a proliferação do mosquito é facilitada pela presença de água parada em locais com pneus, garrafas plásticas e caixas d’água.</h3>
        </div>
        <div class="images">
            <img src="./assets/images/page-sobre/pneus.png" alt="Pneus descartados incorretamente" />
            <img src="./assets/images/page-sobre/vaso-de-plantas.png" alt="vaso de plantas com aparo sem terra" />
            <img src="./assets/images/page-sobre/caixa-d'agua.png" alt="limpeza de caixa d'agua" />
        </div>
    </div>
</section>
<section id="sobre-02">
    <div class="section-sintomas">
        <div class="title-sintomas">
            <h2>Principais Sintomas</h2>
        </div>
        <div class="container-sintomas">
            <div class="sintoma">
                <div class="icone">
                    <img class="triangle" src="./assets/images/page-sobre/sintomas/triangulo.png" alt="Dor de cabeça" />
                    <img class="centered-img" src="./assets/images/page-sobre/sintomas/febre.png" alt="Febre" />
                </div>
                <div class="text-sintoma">
                    <h3>Febre</h3>
                    <p>A febre alta é um dos primeiros sintomas da dengue e pode surgir de maneira súbita, chegando a temperaturas entre 39°C e 40°C. Essa febre geralmente dura entre 2 a 7 dias.<p>
                </div>
            </div>
            <div class="sintoma">
                <div class="icone">
                    <img class="triangle" src="./assets/images/page-sobre/sintomas/triangulo2.png" alt="Dor de cabeça" />
                    <img class="centered-img" src="./assets/images/page-sobre/sintomas/cabeca.png" alt="Dor de cabeça" />
                </div>
                <div class="text-sintoma">
                    <h3>Dor de Cabeça</h3>
                    <p>A dor de cabeça é um sintoma comum da dengue e pode ser intensa. Ela costuma ser localizada na região frontal e pode ser acompanhada de dor nos olhos.<p>
                </div>
            </div>
            <div class="sintoma">
                <div class="icone">
                    <img class="triangle" src="./assets/images/page-sobre/sintomas/triangulo3.png" alt="Dor de cabeça" />
                    <img class="centered-img" src="./assets/images/page-sobre/sintomas/corpo.png" alt="Dor nas articulações" />
                </div>
                <div class="text-sintoma">
                    <h3>Dor nas Articulações</h3>
                    <p>A dor nas articulações é um sintoma característico da dengue e pode ser intensa. Ela costuma afetar as articulações dos joelhos, cotovelos e tornozelos.<p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sobre-03">
    <div class="section-diagnostico">
        <div class="container-diagnostico">
            <div class="img-diagnostico">
                <img src="./assets/images/page-sobre/diagnostico.png" alt="Exame de sangue" />
            </div>
            <div class="text-diagnostico">
                <h2>Diagnóstico e Tratamento</h2>
                <p>
                    O diagnóstico da dengue é feito através de exames de sangue que detectam a presença do vírus ou de anticorpos específicos. Não existe um tratamento antiviral específico para a dengue, por isso o cuidado é voltado para o alívio dos sintomas. É fundamental manter-se hidratado, fazer repouso e, em casos de sintomas graves, buscar atendimento médico imediatamente. O uso de medicamentos como aspirina deve ser evitado, pois podem agravar o risco de sangramentos.
                </p>
            </div>
        </div>
        <div class="container-diagnostico">
            <div class="text-diagnostico">
                <h2>Impacto da Dengue na Sociedade</h2>
                <p>
                A dengue tem um impacto significativo na sociedade, não só na saúde das pessoas afetadas, mas também na economia e no sistema de saúde pública. As ausências no trabalho e na escola, o custo do tratamento e a sobrecarga nos hospitais são alguns dos desafios enfrentados. Além disso, surtos de dengue podem desestabilizar regiões inteiras, afetando o turismo e outras atividades econômicas.
                </p>
            </div>
            <div class="img-diagnostico">
                <img src="./assets/images/page-sobre/impacto.png" alt="Medicamentos" />
            </div>
        </div>
    </div>
</section>
<section id="sobre-04">
    <div class="section-comunidade">
        <div class="text-comunidade">
            <h2>O Papel da Comunidade</h2>
            <p>
                A luta contra a dengue começa em casa e na comunidade. 
                Cada cidadão pode contribuir, eliminando possíveis focos do mosquito 
                em sua residência e participando de campanhas de conscientização. 
                O envolvimento da comunidade é fundamental para manter o mosquito Aedes aegypti 
                sob controle e prevenir surtos da doença. Exemplos de sucesso podem ser encontrados 
                em várias cidades que, através da mobilização comunitária, conseguiram reduzir 
                drasticamente os casos de dengue.
                <br>
                <br>
                <span>
                    Saiba como contribuir
                </span>
            </p>
            <a class="button" routerLink="/usuario/page-prevencao">
                Prevenções
            </a>
        </div>
        <div class="img-comunidade">
            <img src="./assets/images/page-sobre/comunidade.png" alt="Agente de saúde" />
        </div>
    </div>
</section>