.content {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
    margin: 100px;
    min-height: 60vh;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h3 {
    text-align: center;
    margin: 0 32px;
    font-weight: 400;
    max-width: 1400px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.images img {
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.section-sintomas {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 60px;
}

.title-sintomas h2{
    color: var(--color-light);
    font-size: 38px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 32px;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-sintomas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.sintoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.icone {
    position: relative;
    width: 100px;
    height: 100px;
}

.triangle {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 1;
}

.centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    z-index: 1;
}

.text-sintoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    max-width: 330px;
}

.text-sintoma h3 {
    color: var(--color-dark);
    font-size: 32px;
    margin: 0;
    font-weight: 700;
}

.text-sintoma p {
    color: var(--color-light);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.section-diagnostico {
    background: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 60px;
}

.container-diagnostico {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
}

.text-diagnostico {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    max-width: 400px;
}

.text-diagnostico h2 {
    color: var(--color-dark);
    font-size: 32px;
    margin: 0;
    font-weight: 600;
}

.text-diagnostico p {
    color: var(--color-dark);
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin: 0;
}


.img-diagnostico img {
    height: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.section-comunidade {
    background: var(--bg-color-blueDark);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-comunidade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    max-width: 1400px;
    padding: 50px;
}

.img-comunidade {
    margin: 40px;
}

.img-comunidade img {
    width: 100%;
    max-width: 440px;
    min-width: 300px;
    height: auto;
    border-radius: 8px;
}

.text-comunidade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 560px;
}

.text-comunidade h2 {
    color: var(--color-light);
    font-size: 36px;
    text-align: left;
    margin: 24px;
    margin-bottom: 0;
    font-weight: 600;
}

.text-comunidade p {
    color: var(--color-light);
    font-size: 18px;
    margin: 24px;
    text-align: justify;
    max-width: 836px;
}

.text-comunidade span {
    color: var(--color-light);
    font-weight: 500;
    font-size: 26px;
}

.button {
    background: var(--color-blueLight);
    color: var(--color-primary);
    padding: 1rem 2.5rem;
    border-radius: 24px;
    text-decoration: none;
    margin: 24px;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background: var(--bg-color-blue);
    color: var(--bg-color-blueLight);
}

@media screen and (max-width: 1024px) {
    .content {
        gap: 50px;
        margin: 80px;
    }

    .images {
        gap: 50px;
    }

    .section-sintomas {
        gap: 50px;
        padding: 50px;
    }

    .container-sintomas {
        gap: 50px;
    }

    .sintoma {
        gap: 50px;
    }

    .text-sintoma {
        gap: 14px;
    }

    .section-diagnostico {
        gap: 50px;
        padding: 50px;
    }

    .container-diagnostico {
        gap: 50px;
    }

    .container-diagnostico:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .text-diagnostico {
        gap: 22px;
    }

    .container-comunidade {
        flex-direction: column-reverse;
    }

    .text-comunidade {
        margin: 10px;
    }
    
}

@media screen and (max-width: 960px) {
    .container-diagnostico {
        flex-direction: column;
        gap: 50px;
    }
    
}

@media screen and (max-width: 768px) {
    .content {
        gap: 50px;
        margin: 50px;
    }

    .images {
        gap: 1rem;
    }


   
    

}