.content {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
    margin: 100px;
    min-height: 60vh;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h3 {
    text-align: center;
    margin: 0 32px;
    font-weight: 400;
    max-width: 1400px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.images img {
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.section-sintomas {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 60px;
}

.title-sintomas h2{
    color: var(--color-light);
    font-size: 38px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 32px;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-sintomas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.sintoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.icone {
    position: relative;
    width: 100px;
    height: 100px;
}

.triangle {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 1;
}

.centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    z-index: 1;
}

.text-sintoma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    max-width: 330px;
}

.text-sintoma h3 {
    color: var(--color-text-dark);
    font-size: 32px;
    margin: 0;
    font-weight: 700;
}

.text-sintoma p {
    color: var(--color-light);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.section-comunidade {
    background: var(--bg-color-blueDark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    gap: 24px;
}

.img-comunidade {
    margin: 40px;
}

.img-comunidade img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

.text-comunidade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 80px;
    width: 100%;
    max-width: 560px;
}

.text-comunidade h2 {
    color: var(--color-light);
    font-size: 36px;
    text-align: left;
    margin: 24px;
    margin-bottom: 0;
    font-weight: 600;
}

.text-comunidade p {
    color: var(--color-light);
    font-size: 18px;
    margin: 24px;
    text-align: justify;
    max-width: 836px;
}

.text-comunidade span {
    color: var(--color-light);
    font-weight: 500;
    font-size: 26px;
}

.button {
    background: var(--color-secondary);
    color: var(--color-light);
    padding: 1rem 2.5rem;
    border-radius: 24px;
    text-decoration: none;
    margin: 24px;
}

.button:hover {
    background: #233c4d;
}

@media screen and (max-width: 768px) {
    .content {
        gap: 1rem;
        margin: 50px;
    }

    .images {
        gap: 1rem;
    }


    .section-comunidade {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .img-comunidade {
        margin: 0;
    }

    .text-comunidade {
        margin: 0;
    }

    .text-comunidade h3 {
        font-size: 24px;
    }

    .img-comunidade img {
        width: 100%;
    }

}