<app-header [title]="'Sobre'"></app-header>
<section id="sobre-01">
    <div class="content">
        <div class="text">
            <h2>A dengue é uma doença viral transmitida pelo mosquito Aedes aegypti. Essa doença é endêmica em muitas regiões tropicais e subtropicais do mundo, afetando milhões de pessoas todos os anos. A dengue tem sido uma preocupação crescente, especialmente em áreas urbanas, onde a proliferação do mosquito é facilitada pela presença de água parada em locais com pneus, garrafas plásticas e caixas d’água.</h2>
        </div>
        <div class="images">
            <img src="./assets/images/page-sobre/pneus.png" alt="Pneus descartados incorretamente" />
            <img src="./assets/images/page-sobre/vaso-de-plantas.png" alt="vaso de plantas com aparo sem terra" />
            <img src="./assets/images/page-sobre/caixa-d'agua.png" alt="limpeza de caixa d'agua" />
        </div>
    </div>
</section>
<section id="sobre-04">
    <div class="section-04">
        <div class="text-coleta">
            <h3>O Papel da Comunidade</h3>
            <p>
                A luta contra a dengue começa em casa e na comunidade. 
                Cada cidadão pode contribuir, eliminando possíveis focos do mosquito 
                em sua residência e participando de campanhas de conscientização. 
                O envolvimento da comunidade é fundamental para manter o mosquito Aedes aegypti 
                sob controle e prevenir surtos da doença. Exemplos de sucesso podem ser encontrados 
                em várias cidades que, através da mobilização comunitária, conseguiram reduzir 
                drasticamente os casos de dengue.
                <br>
                <br>
                <span>
                    Saiba como contribuir
                </span>
            </p>
            <a class="button" routerLink="/usuario/page-prevencao">
                Prevenções
            </a>
        </div>
        <div class="img-coleta">
            <img src="./assets/images/page-sobre/coleta.png" alt="Agente de saúde" />
        </div>
    </div>
</section>