body {
    background: var(--color-white-light);
    font-family: "Inter", sans-serif;
    color: var(--color-text-dark);
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  
  .mat-typography {
    overflow: visible !important;
  }

  :root {
    --color-primary: #1A2C38;
    --color-secondary: #3A778A;
    --color-red-primary: #9E1414;
    --color-orange-primary: #FF761E;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-dark-grey: #3F4141;
    --bg-color-blueLight: #CAD9DE;
    --bg-color-blue: #6091A0;
    --bg-color-blueDark: #1A2C38;
    --color-text-dark: #1E1E1E;
    --color-white-light: #E8E8E8;
  }

   /* Custom Scrollbar */
   ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-light);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
  }