.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  background: rgba(58, 119, 138, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  background: transparent;
}

.bar-container .logo img {
  width: 80%;
  height: auto;
}

.menu-container {
  width: auto;
  margin-right: 4rem;
  display: flex;
  gap: 1rem;
}

.menu-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0.875rem;
}

.menu-container ul li {
  display: inline;
  margin-right: 2rem;
  color: #fff;
  font-size: 1.125rem;
}

.menu-container ul li:last-child {
  margin-right: 0;
}

.nav-item a:hover {
  color: var(--color-primary);
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--color-light);
}

.navbar-toggler {
  display: none;
  background: none;
}

.button-nav{
  background: var(--color-primary);
  color: var(--color-light);
  padding: 1rem 2.5rem;
  border-radius: 24px;
  text-decoration: none;
}

.button-nav:hover {
  background: #233c4d;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mobile-menu ul li {
  margin: 1rem 0;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.mobile-menu .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 720px) {
  .bar-container {
    justify-content: space-between;
    margin: 0;
    padding: 16px;
  }

  .logo img {
    width: 50%;
  }

  .navbar-toggler {
    display: block;
    border: none;
  }

  .bg-color {
    background-color: #fff;
  }

  .offcanvas.offcanvas-end {
    width: 70%;
  }

  .navbar-nav {
    flex-direction: column;
    padding: 1.25rem;
  }

  .navbar-nav .nav-item {
    margin: 0.625rem 0;
  }

  .navbar-nav .nav-link {
    color: #121f16;
  }

  .navbar-nav .nav-link:hover {
    color: #779677;
  }

  .navbar-toggler:focus {
    display: block;
  }

  .menu-container {
    display: none;
  }
}
