<section id="home">
    <div class="banner">
        <div class="img-banner">
            <img src="./assets/images/img-banner.svg" alt="dengue não" />
        </div>
        <div class="text-banner">
            <h1>
                TODOS <br> CONTRA A <br>
                <span>DENGUE</span>
            </h1>
            <p>A dengue pode estar mais perto do que você imagina. <br>                
                Proteja a <strong>saúde da sua família!</strong><br>
                retire todos os materiais e objetos que possam <strong>acumular água.</strong>
            </p>
            <p class="hastag-web">#WEBdenguenocombateaomosquito</p>
        </div>
    </div>
</section>

<section id="faixa">
    <div class="faixa-dengue">
        <div class="marquee">
            <span *ngFor="let text of repeatedText"><span class="ball"></span>{{ text }}&nbsp;&nbsp;&nbsp;</span>
            <span *ngFor="let text of repeatedText"><span class="ball"></span>{{ text }}&nbsp;&nbsp;&nbsp;</span>
        </div>
    </div>
</section>
  
<section id="home-02">
    <div class="section-02">
        <div class="container-text-inicial">
            <div class="text-inicial">
                <p>
                    <span>O Aedes aegypti,</span> é um pequeno inseto que representa um grande perigo para a saúde 
                    pública. Ele é o principal vetor da dengue, uma doença que afeta milhões de pessoas 
                    todos os anos, além de ser responsável pela transmissão de outras doenças graves, 
                    como zika e chikungunya. Ele se reproduz em água parada e limpa, o que faz com que 
                    seja fácil encontrar focos em áreas urbanas, especialmente em recipientes como vasos 
                    de plantas, garrafas e pneus velhos.
                </p>
            </div>
            <div class="img-section-inicial">
                <img src="./assets/images/page-home/mosquito-dengue.png" alt="Mosquito da Dengue" />
            </div>
        </div>
        <div class="container-text-inicial">
            <div class="img-section-inicial">
                <img src="./assets/images/page-home/pneu-parada.png" alt="pneu com água parada" />
            </div>
            <div class="text-inicial">
                <p>
                    Para evitar a disseminação do Aedes aegypti, é essencial tomar medidas preventivas em 
                    casa e na comunidade. Mantenha recipientes que acumulam água sempre cobertos, elimine 
                    qualquer tipo de água parada e utilize repelentes e telas de proteção. A conscientização 
                    é fundamental: informe seus vizinhos e participe de campanhas de combate ao mosquito. 
                    Lembre-se, a luta contra a dengue depende de todos nós.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="banner-01">
    <div class="banner-content-slogan">
        <div class="slogan">
            <h2>Dengue se combate com <br> atitude. Elimine os focos e <br> proteja a sua comunidade!</h2>
        </div>
    </div>
</section>
<section id="home-03">
    <div class="section-03">
        <div class="title-section">
            <h2>Depoimentos</h2>
        </div>
        <div class="carousel-container">
            <div class="carousel" #carousel>
              <div class="carousel-item" *ngFor="let depoimento of depoimentos" [class.active]="depoimento === depoimentos[currentIndex]">
                <app-card-depoimentos
                  [depoimento]="depoimento.depoimento"
                  [img]="depoimento.img"
                  [nome]="depoimento.nome"
                  [idade]="depoimento.idade"
                  [cidade]="depoimento.cidade">
                </app-card-depoimentos>
              </div>
            </div>
          </div>  
           <!-- Controles de Navegação e Indicadores -->
        <div class="controls">
            <button class="prev" (click)="scrollLeft()">‹</button>
            <div class="indicators">
                <span *ngFor="let depoimento of depoimentos; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
            </div>
            <button class="next" (click)="scrollRight()">›</button>
        </div>              
    </div>
</section>
<section class="banner-02">
    <div class="banner-content-slogan-02">
        <div class="slogan-02">
            <h2>"WebDengue” Juntos <br> contra o mosquito, pela <br> saúde de todos!</h2>
        </div>
    </div>
</section>
<section id="home-04">
    <div class="section-04">
        <div class="text-inf-agente">
            <h3>Agentes de Saúde</h3>
            <p>
                Os agentes de saúde desempenham um papel crucial na prevenção e combate ao mosquito da dengue. 
                Eles estão na linha de frente, visitando casas, orientando a população e eliminando possíveis 
                focos do Aedes aegypti. Seu trabalho é essencial para proteger a comunidade, mas o esforço é 
                coletivo. Cada um de nós pode contribuir seguindo as orientações e mantendo o ambiente livre 
                de criadouros. <br> <br> Precisa de mais informações ou quer saber como você pode ajudar? 
            </p>
            <a class="button" routerLink="/usuario/page-contato">
                Contato
            </a>
        </div>
        <div class="img-inf-agente">
            <img src="./assets/images/agentes-inf.png" alt="Agente de saúde" />
        </div>
    </div>
</section>