<section id="home">
    <div class="banner">
        <div class="img-banner">
            <img src="./assets/images/img-banner.svg" alt="dengue não" />
        </div>
        <div class="text-banner">
            <h1>
                TODOS <br> CONTRA A <br>
                <span>DENGUE</span>
            </h1>
            <p>A dengue pode estar mais perto do que você imagina. <br>                
                Proteja a <strong>saúde da sua família!</strong><br>
                retire todos os materiais e objetos que possam <strong>acumular água.</strong>
            </p>
            <p class="hastag-web">#WEBdenguenocombateaomosquito</p>
        </div>
    </div>
</section>
<section id="home-02">
    <div class="section-02">
    </div>
</section>
<section id="banner-01">
    <div class="banner-content-slogan">
        <div class="slogan">
            <h2>Dengue se combate com <br> atitude. Elimine os focos e <br> proteja a sua comunidade!</h2>
        </div>
    </div>
</section>
<section class="banner-02">
    <div class="banner-content-slogan-02">
        <div class="slogan-02">
            <h2>"WebDengue” Juntos <br> contra o mosquito, pela <br> saúde de todos!</h2>
        </div>
    </div>
</section>